    <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="assets2/img/apple-icon.png">
  <link rel="icon" type="image/png" href="assets2/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    ESummit'20
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="assets2/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />

  <style type="text/css">
  select option{
    color: black;
  }
    .dropdown-btn {
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.workshops:hover {
  background-color: rgba(100,200,200,0.1);
  color: #f1f1f1;
  cursor: pointer;
}

/* On mouse-over */
.dropdown-btn:hover {
  background-color: rgba(100,200,200,0.1);
  color: #f1f1f1;
}



.dropdown-container {
  padding-left: 20px;
  display: none;

  
}
#mess{
    top: 30px!important;
}

.campus-panel:hover{
  cursor: pointer;
}
.schedule-panel:hover{
  cursor: pointer;
}
.contact-panel:hover{
  cursor: pointer;
}
.profile-panel:hover{
  cursor: pointer;
}
.pric h5{
  font-size: 15px;
  margin-bottom: 0!important;
}
.pricing li{
  font-size: 15px;
}
  </style>
  
</head>

<body class="dark-edition">
  <div class="wrapper ">

    <div class="sidebar" data-color="purple" data-background-color="black" data-image="assets2/img/sidebar-2.jpg">
      <div class="logo"><a href="#" class="simple-text logo-normal">
          ESummit'20
        </a>
      </div>

      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item ">
            <a class="nav-link profile-panel" href="/dashboard?type=profile">
              <i class="material-icons">persons</i>
              <p>Profile</p>
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link dropdown-btn " >
              <i class="fa fa-caret-down"></i>
              <p>Participate</p>
            </a>
            
            <div class="dropdown-container">

              <a class="nav-link dropdown-btn">
                  <i class="fa fa-caret-down"></i>
                  <p>Events</p>
              </a>
            
              <div class="dropdown-container ">
                  
                <% if(user.startup == false){ %>
                <a class="nav-link workshops student-panel" href="/dashboard?type=student">
                  <i class="material-icons">events</i>
                  <p>Student Events</p>
                </a>
                <% } %>

                <a class="nav-link workshops startup-panel" href="/dashboard?type=startup">
                  <i class="material-icons">events</i>
                  <p>Startup Events</p>
                </a>
              </div>

              <% if(user.startup == false){ %>
              <a class="nav-link workshops workshop-panel" href="/dashboard?type=workshop" >
                <i class="material-icons">work</i>
                <p>Workshops</p>
              </a>
              <% } %>


            </div>
        </li>

          <li class="nav-item ">
            <a class="nav-link" href="/dashboard-participate">
              <i class="material-icons">content_paste</i>
              <p>My Participations</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/dashboard?type=payment_pricing">
              <i class="material-icons">info</i>
              <p>Payment Pricing</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/payment">
              <i class="material-icons">payment</i>
              <p>Payments</p>
            </a>
          </li>
          <!-- <li class="nav-item schedule-panel">
            <a class="nav-link" href="/dashboard?type=schedule">
              <i class="material-icons">schedules</i>
              <p>Schedule</p>
            </a>
          </li> -->
          <li class="nav-item campus-panel">
            <a class="nav-link" href="/dashboard?type=campus">
              <i class="material-icons">maps</i>
              <p>Campus Map</p>
            </a>
          </li>
          <li class="nav-item contact-panel">
            <a class="nav-link" href="/dashboard?type=contact">
              <i class="material-icons">contacts</i>
              <p>Contacts</p>
            </a>
          </li>
          <li class="nav-item ">
                <a class="nav-link" href="/">
                  <i class="material-icons">home</i>
                  <p>Home</p>
                </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="/logout">
                    <i class="material-icons">logout</i>
                    <p>Logout</p>
                </a>
            </li>
          
          <!-- <li class="nav-item active-pro ">
                <a class="nav-link" href="./upgrade.html">
                    <i class="material-icons">unarchive</i>
                    <p>Upgrade to PRO</p>
                </a>
            </li> -->
        </ul>
      </div>
    </div>




    <div class="main-panel">
       
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
          </div>
         <button class="navbar-toggler" type="button"  data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
        </div>
      </nav> 
      <% include ./partials/messages %>
      <!-- End Navbar -->

      <% if(type == "profile"){ %>
      <div class="content profile">
        <div class="container-fluid">
          
          
          <div class="row" >
            <div class="col-lg-12 col-md-12">
              <div class="card" style="padding-bottom: 50px;">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Profile</h4>
                </div>
                <div class="container-fluid">
                  <div class="row" style="margin-top: 35px;">
                    <div class="col-sm-6">
                      <label>
                          E-Summit ID:
                      </label>
                      <input type="text" class="form-control" name="first_name" value="<%= user.esummit_id %>" disabled>
                    </div>
                    <div class="col-sm-6">
                      <label>
                          Referal:
                      </label>
                      <% if(user.referal_from){ %>
                      <input type="text" class="form-control" name="code" value="<%= user.referal_from %>" disabled>
                      <% }else{ %>
                      <form action="/referal-submit" method="post">
                        <input type="text" class="form-control" name="code" placeholder="Enter Referal Code">
                        <button class="btn btn-outline-warning" type="submit">Submit</button>
                      </form>
                      <% } %>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 35px;">
                          <div class="col-sm-6">
                                  <label>
                                      First Name:
                                  </label>
                                  <input type="text" class="form-control" name="first_name" value="<%= user.first_name %>" disabled>
                              </div>
                              <div class="col-sm-6">
                                  <label>
                                      Last Name:
                                  </label>
                                  <input type="text" class="form-control" name="last_name" value="<%= user.last_name %>" disabled>
                              </div>
                  </div>
                  <div class="row" style="margin-top: 35px;">
                          <div class="col-sm-6">
                                  <label>
                                      Email ID:
                                  </label>
                                  <input type="email" class="form-control"  value="<%= user.email %>" disabled>
                              </div>
                              <div class="col-sm-6">
                                  <label>
                                      Phone Number:
                                  </label>
                                  <input type="text" class="form-control"  value="<%= user.phone %>" disabled>
                              </div>
                  </div>
                  <div class="row" style="margin-top: 35px;">
                          <div class="col-sm-6">
                                  <label>
                                      College/Organisation:
                                  </label>
                                  <input type="type" class="form-control"  value="<%= user.college %>" disabled>
                              </div>
                              <div class="col-sm-6">
                                  <label>
                                      City:
                                  </label>
                                  <input type="text" class="form-control"  value="<%= user.city %>" disabled>
                              </div>
                  </div>
                  <div class="row" style="    width: 80%;margin: 25px auto;">
                          <div class="col-sm-6">
                              <label >Are you a Student/Startup ?</label>
                          </div>
                          <div class="col-sm-6">
                              <% if(user.startup == false){ %>
                                  <div class="form-check" style=" width: 50%; float: right;">
                                          <input class="yo" type="radio" name="startup"  checked id="exampleRadios1" value="0" checked>
                                          <label class="form-check-label" for="exampleRadios1">
                                            Student
                                          </label>
                                  </div>
                                  <div class="form-check" style="cursor:none;    width: 50%;  float: right;">
                                          <input class="yo" type="radio" name="startup" disabled id="exampleRadios2" value="1">
                                          <label style="cursor:none;" class="form-check-label" for="exampleRadios2">
                                            Startup
                                          </label>
                                  </div>
                              <% }else{ %>
                                  <div class="form-check" style=" width: 50%; float: right;cursor: default;" >
                                          <input style="z-index: 99;opacity: 1;" class="form-check-input" type="radio" name="startup" disabled id="exampleRadios1" value="0" checked>
                                          <label class="form-check-label" for="exampleRadios1">
                                            Student
                                          </label>
                                  </div>
                                  <div class="form-check" style="    width: 50%;  float: right;">
                                          <input style="z-index: 99;opacity: 1;" class="form-check-input" type="radio" checked name="startup"  id="exampleRadios2" value="1">
                                          <label class="form-check-label" for="exampleRadios2">
                                            Startup
                                          </label>
                                  </div>
                              <% } %>
                          </div>
                              
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <% } %>

      <% if(type == "student"){ %>
      <div class="content student">
        <div class="card" style="padding-bottom: 50px;">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Student Events Team Registration</h4>
            </div>
            <div class="container-fluid">
                    <form name="event-add-form" action="/dashboard/event" id="event-add-form" method="POST" >
                        
                        <div class="form-group" style="margin-top: 50px;">
                                <label for="exampleInputEmail1">Student Events</label>
                                <select class="form-control" id="mySelect" name="id">
                                    <% events.forEach(x => { %>
                                            <% if(x.student == true){ %>
                                      <option value= <%= x._id %> ><%= x.name %></option>
                                            <% } %>
                                    <% }) %>        
                                    
                                </select>
                                <i class="fa fa-caret-down" style="float: right;color:white;font-size: 30px;position: relative;top: -35px;"></i>
                        </div>
                        
                        <div class="form-group" style="margin-top: 50px;">
                            <label for="exampleInputEmail1">Team Name</label>
                            <input type="text" class="form-control" name="team_name" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                            <small id="emailHelp" class="form-text text-muted">Create your team name.</small>
                        </div>
    
                        <button type="submit" style="margin-top: 30px;" class="btn btn-outline-secondary">Add Team</button>
                </form>
                   
    
            </div>
          </div>
      </div>
      <% } %>

      <% if(type == "startup"){ %>
    <div class="content startup">
        <div class="card" style="padding-bottom: 50px;">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Startup Events Team Registration</h4>
                </div>
        <div class="container-fluid">
                <form name="event-add-form" action="/dashboard/event" id="event-add-form" method="POST" >
                    
                    <div class="form-group" style="margin-top: 50px;">
                            <label for="exampleInputEmail1">Startup Events</label>
                            <select class="form-control" id="mySelect" name="id">
                                <% events.forEach(x => { %>
                                        <% if(x.startup == true){ %>
                                    <option value= <%= x._id %> ><%= x.name %></option>
                                        <% } %>
                                <% }) %>        
                                
                            </select>
                            <i class="fa fa-caret-down" style="float: right;color:white;font-size: 30px;position: relative;top: -35px;"></i>
                        
                    </div>
                    
                    <div class="form-group" style="margin-top: 50px;">
                        <label for="exampleInputEmail1">Team Name</label>
                        <input type="text" class="form-control" name="team_name" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                        <small id="emailHelp" class="form-text text-muted">Create your team name.</small>
                    </div>

                    <button type="submit" style="margin-top: 30px;" class="btn btn-outline-secondary">Add Team</button>
            </form>
                

        </div>
        </div>
    </div>
    <% } %>

    <% if(type == "workshop"){ %>
    <div class="content workshop">
            <div class="card" style="padding-bottom: 50px;">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Workshop Registration</h4>
                    </div>
            <div class="container-fluid">
                    <form name="event-add-form" action="/dashboard/workshop" id="event-add-form" method="POST" >
                        
                        <div class="form-group" style="margin-top: 50px;">
                                <label for="exampleInputEmail1">Workshops</label>
                                <select class="form-control" id="mySelect" name="id">
                                    <% workshops.forEach(x => { %>
                                            
                                        <option value= <%= x._id %> ><%= x.name %></option>
                                            
                                    <% }) %>        
                                    
                                </select>
                                <i class="fa fa-caret-down" style="float: right;color:white;font-size: 30px;position: relative;top: -35px;"></i>
                        
                        </div>
                        
                        
    
                        <button type="submit" style="margin-top: 30px;" class="btn btn-outline-secondary">Register Workshop</button>
                </form>
                    
    
            </div>
            </div>
        </div>
        <% } %>

   <!--      <% if(type == "schedule"){ %>
    <div class="content schedule">
        <h3>Coming Soon!!!</h3>
    </div>
    <% } %> -->
    <% if(type == "payment_pricing"){ %>
    <div class="content pricing">
      <div class="card" style="padding-bottom: 50px;">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Payment Pricing</h4>
        </div>
        <div class="container-fluid">
          <div class="card-body">
              <h5 style="color: white;font-size: 19px;text-decoration: underline;">General payment information:</h5>
              <ul>
                <li>Payment includes one time registration fee of Rs. 999</li>
                <li>Accomodation fee has to be paid if opted for.</li>
                <li>You have to pay for the desired events or workshops you registered for.</li>
                <li>Student events for students are free once registration fee is paid.</li>
                <li>For startup events you have to pay its allocated fee to participate.</li>
              </ul>
              
              <div class="table-responsive">
                  <table class="table">
                      <thead class=" text-primary">
                          <th style="color: white;font-size: 19px;">Payment Types</th>
                          <th style="color: white;font-size: 19px;">price(in Rs.)</th>
                      </thead>
                      <tbody class="pric">
                        <tr>
                            <td>
                                <h5> Student Registration + Accommodation (Early Bird - till 16th Jan'20)  </h5>
                            </td>
                            <td class="event_date">
                                999
                            </td>
                        </tr>
        
                        <tr>
                            <td>
                                <h5> Student Registration (Without Accommodation) </h5>
                            </td>
                            <td class="event_date">
                                999
                            </td>
                    
                        </tr>
        
                        <tr>
                            <td>
                                <h5> Student Registration (With Accommodation) </h5>
                            </td>
                            <td class="event_date">
                                1499
                            </td>
                    
                        </tr>
        
                        <tr>
                            <td>
                                <h5> Professional Registration (Early Bird - till 16th Jan'20) for Startup Personnel </h5>
                            </td>
                            <td class="event_date">
                                999
                            </td>
                    
                        </tr>
        
                        <tr>
                            <td>
                                <h5> Professional Registration for Startup Personnel </h5>
                            </td>
                            <td class="event_date">
                                1299
                            </td>
                    
                        </tr>
        
                        <tr>
                            <td>
                                <h5> KPMG's Lean Six Sigma Green Belt Training Programme for students </h5>
                            </td>
                            <td class="event_date">
                                7499
                            </td>
                    
                        </tr>
        
                        <tr>
                            <td>
                                <h5> E-Carnival (Early Bird - till 16th Jan'20) for Startups </h5>
                            </td>
                            <td class="event_date">
                                2499
                            </td>
                    
                        </tr>
        
                        <tr>
                            <td>
                                <h5> E-Carnival for Startups </h5>
                            </td>
                            <td class="event_date">
                                2999
                            </td>
                    
                        </tr>
        
                        <tr>
                            <td>
                                <h5> Incubate Me (Early Bird - till 16th Jan'20) </h5>
                            </td>
                            <td class="event_date">
                                299
                            </td>
                    
                        </tr>
        
                        <tr>
                            <td>
                                <h5> Incubate Me </h5>
                            </td>
                            <td class="event_date">
                                499
                            </td>
                    
                        </tr>
        
                        <tr>
                            <td>
                                <h5> Speed Dating (Early Bird - till 16th Jan'20) for Startups </h5>
                            </td>
                            <td class="event_date">
                                499
                            </td>
                    
                        </tr>
        
                        <tr>
                            <td>
                                <h5> Speed Dating for Startups </h5>
                            </td>
                            <td class="event_date">
                                799
                            </td>
                    
                        </tr>
        
                        <tr>
                            <td>
                                <h5> Intern Connect (Early Bird - till 16th Jan'20) for Startups </h5>
                            </td>
                            <td class="event_date">
                                999
                            </td>
                    
                            
                        </tr>
        
                        <tr>
                            <td>
                                <h5> Intern Connect for Startups </h5>
                            </td>
                            <td class="event_date">
                                1999
                            </td>
                    
                            
                        </tr>
        
                        <tr>
                            <td>
                                <h5> Accommodation (per person cost in twin sharing room outside campus) </h5>
                            </td>
                            <td class="event_date">
                                2100
                            </td>
                    
                            
                        </tr>
        
                        <tr>
                            <td>
                                <h5> Accommodation (inside campus) </h5>
                            </td>
                            <td class="event_date">
                                500
                            </td>
                    
                        </tr>
        
                        
                        </tbody>
                  </table>
              </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>


    <% if(type == "campus"){ %>
    <div class="content campus">
        <h3>Coming Soon!!!</h3>
    </div>
    <% } %>

    <% if(type == "contact"){ %>
    <div class="content contact">
      <div class="card" style="padding-bottom: 50px;">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Contact Details</h4>
        </div>
        <div class="container-fluid">
          <p style="font-size: 17px;color:white;margin-top: 25px;"> <span style="text-decoration: underline;"> For any queries contact us at</span> - support@esummitiitbhu.com</p>
          <p style="font-size: 17px;color:white;margin-top: 25px;text-decoration: underline;">For any tech related issues contact:</p>
          <div class="card-body">
              <div class="table-responsive">
                  <table class="table">
                      <thead class=" text-primary">
                          <th>Name</th>
                          <th>Student Name</th>
                          <th>Action</th>
                      </thead>
                      <tbody>
                          <tr>
                            <td>Divyansh Kumar</td>
                            <td>divyansh.kumar.min16@iitbhu.ac.in</td>
                            <td>8604568961</td>
                          </tr>
                          <tr>
                              <td>Govind Kumar</td>
                              <td>govind.kumar.min17@iitbhu.ac.in</td>
                              <td>8084970620</td>
                            </tr>
                      </tbody>
                  </table>
              </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>


  </div>
      
      <script>
        const x = new Date().getFullYear();
        let date = document.getElementById('date');
        date.innerHTML = '&copy; ' + x + date.innerHTML;
      </script>
    </div>
  </div>



 
  <!--   Core JS Files   -->
  <script src="assets2/js/core/jquery.min.js"></script>
  <script src="assets2/js/core/popper.min.js"></script>
  <script src="assets2/js/core/bootstrap-material-design.min.js"></script>
  <script src="https://unpkg.com/default-passive-events"></script>
  <script src="assets2/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="assets2/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="assets2/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="assets2/js/material-dashboard.js?v=2.1.0"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="assets2/demo/demo.js"></script>

 <!--  <script>


    $('.nav-mobile-menu').hide();
      $('.student').hide();
      $('.startup').hide();
        $('.campus').hide();
        $('.schedule').hide();
        $('.contact').hide();
        $('.workshop').hide();

      $('.profile-panel').click(function() {
        $('.student').hide();
        $('.startup').hide();
        $('.campus').hide();
        $('.schedule').hide();
        $('.contact').hide();
        $('.workshop').hide();
        $('.profile').fadeIn();
      });

      $('.student-panel').click(function() {
        $('.profile').hide();
        $('.startup').hide();
        $('.campus').hide();
        $('.workshop').hide();
        $('.schedule').hide();
        $('.contact').hide();
        $('.student').fadeIn();
      });
      $('.startup-panel').click(function() {
        $('.profile').hide();
        $('.student').hide();
        $('.campus').hide();
        $('.workshop').hide();
        $('.schedule').hide();
        $('.contact').hide();
        $('.startup').fadeIn();
      });
      $('.schedule-panel').click(function() {
        $('.profile').hide();
        $('.student').hide();
        $('.startup').hide();
        $('.schedule').hide();
        $('.workshop').hide();
        $('.contact').hide();
        $('.schedule').fadeIn();
      });
      $('.contact-panel').click(function() {
        $('.profile').hide();
        $('.student').hide();
        $('.startup').hide();
        $('.schedule').hide();
        $('.workshop').hide();
        $('.campus').hide();
        $('.contact').fadeIn();
      });
      $('.campus-panel').click(function() {
        $('.profile').hide();
        $('.student').hide();
        $('.startup').hide();
        $('.schedule').hide();
        $('.workshop').hide();
        $('.contact').hide();
        $('.campus').fadeIn();
      });
      $('.workshop-panel').click(function() {
        $('.profile').hide();
        $('.student').hide();
        $('.startup').hide();
        $('.schedule').hide();
        $('.campus').hide();
        $('.contact').hide();
        $('.workshop').fadeIn();
      });
      
  </script> -->
  
  <script type="text/javascript">
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
        } else {
          dropdownContent.style.display = "block";
        }
      });
} 
  </script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>
</body>

</html>